<?xml version="1.0"?>
<config>
    <modules>
        <Gala_Galavineyardsettings>
            <version>0.1.0</version>
        </Gala_Galavineyardsettings>
    </modules>
	 <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <galavineyard>
                                            <title>Image Configure</title>
                                        </galavineyard>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
				<galavineyardsettings>
					<file>galavineyardsettings.xml</file>
				</galavineyardsettings>
            </updates>
        </layout>
		<menu>
			<emthemes translate="title">
				<title>Galathemes</title>
				<sort_order>72</sort_order>
				<children>
					<galavineyard_setting module="galavineyardsettings" translate="title">
						<title>Gala Vineyard Settings</title>
						<sort_order>10</sort_order>
						<action>adminhtml/system_config/edit/section/galavineyard/</action>
					</galavineyard_setting>
                    <visual_content_editor module="galavineyardsettings" translate="title">
						<title>Visual Content Editor</title>
						<sort_order>110</sort_order>
						<action>galavineyardsettings/adminhtml_visual/previewBlock/</action>
					</visual_content_editor>
					<help module="galavineyardsettings" translate="title">
						<title>Help &amp; Support</title>
						<sort_order>200</sort_order>
						<children>
							<galavineyard_userguide module="galavineyardsettings" translate="title">
								<title>Gala Vineyard User Guide</title>
								<sort_order>10</sort_order>
								<action>adminhtml/galavineyardsettings_link/faqs/</action>
							</galavineyard_userguide>
							<forum module="galavineyardsettings" translate="title">
                                <title>Request installation</title>
                                <sort_order>20</sort_order>
                                <action>adminhtml/galavineyardsettings_link/requestinstallation/</action>
                            </forum>
                            <ticket module="galavineyardsettings" translate="title">
                                <title>Technical support</title>
                                <sort_order>30</sort_order>
                                <action>adminhtml/galavineyardsettings_link/technicalsupport/</action>
                            </ticket>                            
                            <contact_us module="galavineyardsettings" translate="title">
                                <title>Contact Us</title>
                                <sort_order>30</sort_order>
                                <action>adminhtml/galavineyardsettings_link/contactus/</action>
                            </contact_us>
                            <!--sample_data module="galavineyardsettings" translate="title">
                                <title>Export GalaVineYard Sample Data</title>
                                <sort_order>50</sort_order>
                                <action>adminhtml/galavineyardsettings_theme/export/</action>
                            </sample_data-->
						</children>
					</help>
				</children>
			</emthemes>
		</menu>
    </adminhtml>

    <frontend>
        <routers>
            <galavineyardsettings>
                <use>standard</use>
                <args>
                    <module>Gala_Galavineyardsettings</module>
                    <frontName>galavineyardsettings</frontName>
                </args>
            </galavineyardsettings>
        </routers>
        <layout>
            <updates>
                <galavineyardsettings>
                    <file>galavineyardsettings.xml</file>
                </galavineyardsettings>
            </updates>
        </layout>
		<events>
			<controller_action_layout_generate_xml_before>
                <observers>
                    <galavineyardsettings_change_layout>
                        <type>singleton</type>
                        <class>Gala_Galavineyardsettings_Model_Observer</class>
                        <method>changeLayoutEvent</method>
                    </galavineyardsettings_change_layout>
                </observers>
            </controller_action_layout_generate_xml_before>
    		<controller_action_layout_generate_blocks_before>
    			<observers>
    				<galavineyard_config_after_save>
    					<class>Gala_Galavineyardsettings_Model_Observer</class>
    					<method>beforeGenerateBlocks</method> 
    				</galavineyard_config_after_save>
    			</observers>
    		</controller_action_layout_generate_blocks_before>		
			<catalog_product_collection_load_before>
    			<observers>
    				<galavineyardsettings>
    					<class>Gala_Galavineyardsettings_Model_Observer</class>
    					<method>beforeCatalogProductCollectionLoad</method> 
    				</galavineyardsettings>
    			</observers>
    		</catalog_product_collection_load_before>
            <core_block_abstract_to_html_after>
				<observers>
					<designer>
						<class>galavineyardsettings/observer</class>
						<method>processAfterHtmlDispatch</method>
					</designer>
				</observers>
			</core_block_abstract_to_html_after>
    	</events>
    </frontend>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<galavineyardsettings before="Mage_Adminhtml">Gala_Galavineyardsettings_Adminhtml</galavineyardsettings>
					</modules>
				</args>
			</adminhtml>
            <galavineyardsettings>
				<use>admin</use>
                <args>
					<module>Gala_Galavineyardsettings</module>
					<frontName>galavineyardsettings_admin</frontName>
                </args>
            </galavineyardsettings>
            <cms>
                <args>
                    <modules>
                        <galavineyardsettings before="Mage_Cms">Gala_Galavineyardsettings</galavineyardsettings>
                    </modules>
                </args>
            </cms>
		</routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Gala_Galavineyardsettings>
							<title>galavineyardsettings Module</title>
							<sort_order>10</sort_order>
						</Gala_Galavineyardsettings>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<galavineyardsettings>
					<file>galavineyardsettings.xml</file>
				</galavineyardsettings>
			</updates>
		</layout>
        <events>
    		<controller_action_postdispatch_adminhtml_system_config_save>
    			<observers>
    				<config_after_save>
    					<class>Gala_Galavineyardsettings_Model_Observer</class>
    					<method>afterConfigSave</method> 
    				</config_after_save>
    			</observers>
    		</controller_action_postdispatch_adminhtml_system_config_save>		
    	</events> 
    </adminhtml>
    
    <global>
        <blocks>
            <tag>
                <rewrite>
                    <popular>Gala_Galavineyardsettings_Block_Popular</popular>
                </rewrite>
            </tag>
        </blocks>
        <models>
            <galavineyardsettings>
                <class>Gala_Galavineyardsettings_Model</class>
                <resourceModel>galavineyardsettings_mysql4</resourceModel>
            </galavineyardsettings>
            <galavineyardsettings_mysql4>
                <class>Gala_Galavineyardsettings_Model_Mysql4</class>
                <entities>
                    <galavineyardsettings>
                        <table>galavineyardsettings</table>
                    </galavineyardsettings>
					<megamenupro>
                        <table>megamenupro</table>
                    </megamenupro>
					<slider>
                        <table>em_slideshow2_slider</table>
                    </slider>
                </entities>
            </galavineyardsettings_mysql4>
        </models>
        <resources>
            <galavineyardsettings_setup>
                <setup>
                    <module>Gala_Galavineyardsettings</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </galavineyardsettings_setup>
            <galavineyardsettings_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </galavineyardsettings_write>
            <galavineyardsettings_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </galavineyardsettings_read>
        </resources>
        <blocks>
            <galavineyardsettings>
                <class>Gala_Galavineyardsettings_Block</class>
            </galavineyardsettings>
        </blocks>
        <helpers>
            <galavineyardsettings>
                <class>Gala_Galavineyardsettings_Helper</class>
            </galavineyardsettings>
        </helpers>
        <default>
            <galavineyardsettings>
                <wysiwyg>
                    <enabled>enabled</enabled>
                </wysiwyg>
            </galavineyardsettings>
        </default>
    </global>
	<default>
		<galavineyard>
			<general>
				<main_menu>0</main_menu>
				<freezed_top_menu>0</freezed_top_menu>
				<disable_frontend_variation>1</disable_frontend_variation>
				<disable_footer_links>0</disable_footer_links>
                <disable_social>1</disable_social>
                <box_wide>wide</box_wide>
                <wideslide_full>1</wideslide_full>
                <page_bg_color></page_bg_color>
                <page_bg_file></page_bg_file>
                <page_bg_image></page_bg_image>                
                <page_bg_position></page_bg_position>
                <page_bg_repeat></page_bg_repeat>
			</general>
            <typography>
                <google_fonts>Open Sans</google_fonts>
                <google_fonts_weights>100,200,300,400,500,600,700,800,900,1000</google_fonts_weights>
				<general_font>normal 12px/1.35 Open Sans,Arial,Helvetica,sans-serif</general_font>
				<h1_font>normal 40px/1.15 Open Sans,Arial,Helvetica,sans-serif</h1_font>
				<h2_font>700 20px/1.25 Open Sans,Arial,Helvetica,sans-serif</h2_font>
				<h3_font></h3_font>
				<h4_font>700 16px/1.35 Open Sans,Arial,Helvetica,sans-serif</h4_font>
				<h5_font>700 14px/1.35 Open Sans,Arial,Helvetica,sans-serif</h5_font>
                <h6_font>700 12px/1.35 Open Sans,Arial,Helvetica,sans-serif</h6_font>
				<additional_css_file></additional_css_file>
                <custom_css></custom_css>
            </typography>
			<header>
                <head_text_color></head_text_color>
                <head_text2_color></head_text2_color>
				<head_text3_color></head_text3_color>
                <head_bg_color></head_bg_color>
                <head_bg2_color></head_bg2_color>
                <head_bg3_color></head_bg3_color>                
                <head_bg_image></head_bg_image>
                <head_bg_file></head_bg_file>
                <head_bg_position></head_bg_position>
                <head_bg_repeat></head_bg_repeat>
             </header>
             <menu>
                <tm_bg_color></tm_bg_color>
                <tm_hover_bg_color></tm_hover_bg_color>
                <tm_text_color></tm_text_color>
                <tm_hover_text_color></tm_hover_text_color>
                <tm_line_color></tm_line_color>
                <tm_font>normal 14px/1.35 Open Sans,Arial,Helvetica,sans-serif</tm_font>
                <dm_bg_color></dm_bg_color>
                <dm_text_color></dm_text_color>
                <dm_hover_text_color></dm_hover_text_color>
                <dm_text2_color></dm_text2_color>
                <dm_font></dm_font>
            </menu>
            <body>
                <bd_bg_color></bd_bg_color>
                <bd_bg2_color></bd_bg2_color>
                <bd_bg3_color></bd_bg3_color>
                <bd_bg_image></bd_bg_image>
                <bd_bg_position></bd_bg_position>
                <bd_bg_repeat></bd_bg_repeat>
                
                <bd_text_color></bd_text_color>
                <bd_text2_color></bd_text2_color>
                <bd_text3_color></bd_text3_color>
                <bd_text4_color></bd_text4_color>
                
                <bd_line_color></bd_line_color>
                <bd_line2_color></bd_line2_color>
                
                <bd_box_shadow></bd_box_shadow>				
                <bd_rounded_corner></bd_rounded_corner>
            </body>            
            <footer>
                <foot_bg_color></foot_bg_color>
                <foot_bg_image></foot_bg_image>
                <foot_bg_position></foot_bg_position>
                <foot_bg_repeat></foot_bg_repeat>
                <foot_text_color></foot_text_color>
                <foot_text2_color></foot_text2_color>
                <foot_text3_color></foot_text3_color>
                <foot_line_color></foot_line_color>
                <foot_line2_color></foot_line2_color>
            </footer>
            <button>
                <btn1_bg_color></btn1_bg_color>
                <btn1_text_color></btn1_text_color>
                <btn1_line_color></btn1_line_color>
                <btn1_font>700 12px/1.35 Open Sans,Arial,Helvetica,sans-serif</btn1_font>
                <btn2_bg_color></btn2_bg_color>
                <btn2_text_color></btn2_text_color>
                <btn2_line_color></btn2_line_color>
                <btn2_font>700 14px/1.35 Open Sans,Arial,Helvetica,sans-serif</btn2_font>
            </button>
            <products_grid>
				<onecolumn>4</onecolumn>
				<twocolumns>3</twocolumns>
				<threecolumns>2</threecolumns>
            </products_grid>
            <products_list>
            </products_list>            
			<image_product>
				<viewmode></viewmode>
				<cloud_zoom_width></cloud_zoom_width>
				<cloud_zoom_height></cloud_zoom_height>
                <use_tabs>1</use_tabs>
			</image_product>
			<ajaxcart>
				<auto_close>0</auto_close>
			</ajaxcart>
            <flashtag>
                <enabled>0</enabled>
                <count>100</count>
                <back>#ffffff</back>
                <max>20</max>
                <min>12</min>
                <maxcolor>#000</maxcolor>
                <normal>#000</normal>
                <hover>#000</hover>
                <speed>1000</speed>
            </flashtag>
            <sidebar>
				<list>catalog_shopby,catalog_leftnav,catalog_search_layer,catalog_related,reorder_sidebar,wishlist_sidebar,compare,poll,popular_tags</list>
				<block_data>
                    <catalog_shopby>
						<type>layerednavigation/catalog_layer</type>
						<name>em.catalog.leftnav.custom</name>
						<template>em_layerednavigation/view.phtml</template>
						<before>-</before>
						<handles>catalog_category_layered</handles>
					</catalog_shopby>
                    <catalog_leftnav>
						<type>catalog/navigation</type>
						<name>catalog.leftnav</name>
						<template>catalog/navigation/left.phtml</template>
						<before>-</before>
						<handles>catalog_category_default</handles>
					</catalog_leftnav>
                    <catalog_search_layer>
						<type>layerednavigation/search_layer</type>
						<name>em.catalog.leftnav.custom</name>
						<template>em_layerednavigation/view.phtml</template>
						<before>-</before>
						<handles>catalogsearch_result_index</handles>
					</catalog_search_layer>
                    <catalog_related>
						<type>catalog/product_list_related</type>
						<name>catalog.product.related</name>
						<template>catalog/product/list/related.phtml</template>
						<before>-</before>
						<handles>catalog_product_view</handles>
					</catalog_related>
                    <reorder_sidebar>
						<type>sales/reorder_sidebar</type>
						<name>em.sale.reorder.sidebar</name>
						<as>reorder</as>
						<template>sales/reorder/sidebar.phtml</template>
						<handles>customer_account,customer_logged_in</handles>
					</reorder_sidebar>
                    <wishlist_sidebar>
						<type>wishlist/customer_sidebar</type>
						<name>wishlist_sidebar</name>
						<as>wishlist</as>
						<template>wishlist/sidebar.phtml</template>
					</wishlist_sidebar>                                                                                                    
                    <compare>
						<type>catalog/product_compare_sidebar</type>
						<name>catalog.compare.sidebar</name>
						<template>catalog/product/compare/sidebar.phtml</template>
						<after>galavineyard_sidebar_recent_review</after>
					</compare>
                    <poll>
						<type>poll/activePoll</type>
						<name>poll_sidebar</name>
						<action>method:setPollTemplate?template:poll/active.phtml,type:poll|method:setPollTemplate?template:poll/result.phtml,type:results</action>
                        <after>catalog.compare.sidebar</after>                        
					</poll>                                                        
					<popular_tags>
						<type>tag/popular</type>
						<name>tags_popular</name>
						<template>tag/popular.phtml</template>
						<after>right.poll</after>                     
					</popular_tags>
				</block_data>
			</sidebar>
			<position>
				<popular_tags>left</popular_tags>
				<poll>left</poll>
				<compare>left</compare>
				<catalog_shopby>left</catalog_shopby>
				<catalog_leftnav>left</catalog_leftnav>
				<catalog_search_layer>left</catalog_search_layer>
				<catalog_related>left</catalog_related>
				<wishlist_sidebar>left</wishlist_sidebar>
				<reorder_sidebar>left</reorder_sidebar>
				<customer_account_navigation>left</customer_account_navigation>
			</position>
		</galavineyard>
	</default>
</config>