<?xml version="1.0"?>
<config>
    <modules>
        <Dokha_Catalog>
            <version>0.1.0</version>
        </Dokha_Catalog>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>                    
                    <navigation>Dokha_Catalog_Block_Navigation</navigation>
                </rewrite>
            </catalog>
        </blocks>
    </global>
</config>