.brand-logo{background-image:url(../images/logos-retro.png)}

.toolbar-dropdown span.current{background-image:url(../images/btn-select-retro.png)}


ul.tick li,
.icon,
.link-wishlist,
.add-to-links li a,
.form-search button.button span span,
.label-top-cart,
.link-top-cart p.cart-title a,
.breadcrumbs li span.separator,
.view-mode .grid, 
.view-mode .list,
.tp-rightarrow.default,
.tp-leftarrow.default,
.featured-category .prev,
.featured-category .next,
.more-views a.prev,
.more-views a.next,
.product-view .box-up-sell a.prev,
.product-view .box-up-sell a.next,
.product-view .product-shop a.prev-product,
.product-view .product-shop a.next-product,
.cart .crosssell a.prev,
.cart .crosssell a.next{background-image:url(../images/icons-retro.png)}


/*-------------*/
.featured-wine > h3,
.featured-category h3{
opacity:1; filter:alpha(opacity=100);}

.em-topsearch{border: 1px solid /*BEGIN:bd_line_color*/#cbcbcb/*END:bd_line_color*/;}
.form-search button.button,
.form-search input.input-text{background:#fff;}

.ui-tabs .ui-tabs-nav li a{color:/*BEGIN:bd_text3_color*/ #63BF00 /*END:bd_text3_color*/;}