<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mediastrategi_Shadowmedia>
            <version>0.5.3</version>
        </Mediastrategi_Shadowmedia>
    </modules>
    <global>
        <blocks>
            <mediastrategi_shadowmedia>
                <class>Mediastrategi_Shadowmedia_Block</class>
            </mediastrategi_shadowmedia>
        </blocks>
        <models>
            <mediastrategi_shadowmedia>
                <class>Mediastrategi_Shadowmedia_Model</class>
            </mediastrategi_shadowmedia>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <mediastrategi_shadowmedia
                    module="Mediastrategi_Shadowmedia">
                    <file>mediastrategi_shadowmedia.xml</file>
                </mediastrategi_shadowmedia>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <mediastrategi_shadowmedia
                    module="Mediastrategi_Shadowmedia">
                    <file>mediastrategi_shadowmedia.xml</file>
                </mediastrategi_shadowmedia>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <mediastrategi_shadowmedia>
            <design>
                <effect>fade-in-out</effect>
                <close>#39C</close>
                <max-width>600</max-width>
                <min-width>280</min-width>
                <fixed>yes</fixed>
            </design>
            <cookie>
                <timeout>30</timeout>
                <units>seconds</units>
            </cookie>
        </mediastrategi_shadowmedia>
    </default>
</config>
